<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CustomersDataMaintain.Properties.Settings.pcb_bizConnectionString"
            connectionString="Data Source=192.168.80.9;Initial Catalog=pcb_biz;Persist Security Info=True;User ID=sa2;Password=AaKuF6WB"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>